<!DOCTYPE html>
<html>
<head>

	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />

	<title>{{meta_title}}</title>

	{{ghost_head}}
</head>
<body class="{{body_class}}">

	<header>
		<h1></h1>
		<p></p>
	</header>

	<div class="main">

		{{{body}}}
		
	</div>

	<footer>
		
		<section>
			<!--remember to be social and add this dawg!-->
		</section>


		 <p class="copyright"> Copyright <a class="gohome" href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} | Don't steal homie's</p>
	</footer>

{{ghost_foot}}

</body>
</html>